NEXT_PUBLIC_URL=example
CONTENTFUL_DELIVERY_API_KEY=example
CONTENTFUL_SPACE_ID=example
PREVIEW_SECRET=example
SFTP_HOST=example
SFTP_PORT=example
SFTP_USERNAME=example
SFTP_PASSWORD=example
KINDE_CLIENT_ID=example
KINDE_CLIENT_SECRET=example
KINDE_ISSUER_URL=example
KINDE_SITE_URL=example
KINDE_POST_LOGOUT_REDIRECT_URL=example
KINDE_POST_LOGIN_REDIRECT_URL=example
THREAD_ID=example
ASSISTANT_ID=example
API_BASE_URL=example