NEXT_PUBLIC_URL=
CONTENTFUL_DELIVERY_API_KEY=
CONTENTFUL_SPACE_ID=
PREVIEW_SECRET=
CONTENTFUL_WEBHOOK_SECRET=
SFTP_HOST=
SFTP_PORT=
SFTP_USERNAME=
SFTP_PASSWORD=
KINDE_CLIENT_ID=
KINDE_CLIENT_SECRET=
KINDE_ISSUER_URL=
KINDE_SITE_URL=
KINDE_POST_LOGOUT_REDIRECT_URL=
KINDE_DOMAIN=
KINDE_MANAGEMENT_CLIENT_ID=
KINDE_MANAGEMENT_CLIENT_SECRET=
THREAD_ID=
ASSISTANT_ID=
API_BASE_URL=
INSTRUCTION_TEXT=""
OPENAI_API_KEY=""
# Emails allowed to clear the Contentful cache from the account menu
CACHE_ADMIN_EMAILS=
